<template>
  <div class="modal">
    <div class="flex align-center align-vert modal modal--align">
      <div class="modal__container">
        <a class="modal__close modal__close--x" aria-hidden="true" @click="closeModal">&#x2715;</a>
        <h2>{{newsContent.title}}</h2>
        <article>
          <img :src="newsContent.urlToImage">
            <div class="article-content">
              <p v-show="newsContent.author">Author: {{newsContent.author}}</p>
              <p>Published: {{newsContent.publishedAt}}</p>
              <p>{{newsContent.description}}</p>
              <p>{{newsContent.content}}</p>
              <a :href="newsContent.url" target="_blank">Visit the original page</a>
            </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewsModal',
  props: ['newsContent'],
  methods: {
    closeModal () {
      this.$emit('update:modal')
    }
  }
}
</script>
