<template>
    <div>
        <news-modal v-if="showNews" :modal.sync="showNews" :newsContent="newsContent"></news-modal>
        <div class="loading" v-show="loading"></div>
        <nav class="list-header">
            <h1>Search for News</h1>
            <div class="sort">
                <div class="collection-sort">
                    <label>Select Country</label>
                    <select v-model="selectedCountry">
                        <option value="">Select Country</option>
                        <option v-for="country in countries" :key="country" :value="country" >{{country | completeCountry}}</option>
                    </select>
                </div>
                <div class="collection-sort">
                    <label>Select Category</label>
                    <select v-model="selectedCategory">
                        <option value="">Select Category</option>
                        <option v-for="cat in categories" :key="cat" :value="cat" >{{cat | capitalize}}</option>
                    </select>
                </div>
                <div class="collection-sort">
                    <label>Keyword (Optional)</label>
                    <input type="search" v-model="keyWord">
                </div>
                <div class="collection-sort">
                    <button @click="doSearch(true)" class="search" type="button" >Search</button>
                </div>
            </div>
        </nav>
        <section class="news-container">
            <div class="news-card" v-for="(n, index) in news" :key="index">
                <div class="news-image">
                    <img :src="n.urlToImage">
                </div>
                <div class="news-info">
                    <span>{{n.publishedAt | moment("dddd, MMMM Do YYYY") }}</span>
                    <h3><a href="#" @click="showNewsModal({
                      author: n.author,
                      title: n.title,
                      content: n.content,
                      url: n.url,
                      urlToImage: n.urlToImage,
                      publishedAt: n.publishedAt,
                      description: n.description
                    })">{{n.title}}</a></h3>
                    <p>{{n.description}}</p>
                    <div class="author-content" v-show="n.author">
                      <span>Author: {{n.author}}</span>
                    </div>
                </div>
            </div>
        </section>
         <div class="search-loader" v-show="newsLoader">
          <div class="bar"></div>
        </div>
        <div v-if="Object.keys(news).length > 0" v-observe-visibility="handleScrolledToBottom"></div>
    </div>
</template>

<script>
import NewsModal from './NewsModal.vue'
const { getName } = require('country-list')
export default {
  data: () => ({
    selectedCountry: '',
    selectedCategory: '',
    keyWord: '',
    page: 1,
    pageSize: 12,
    showNews: false,
    newsContent: null
  }),
  computed: {
    categories () {
      return this.$store.getters.getCategories
    },
    countries () {
      return this.$store.getters.getCountries
    },
    news () {
      return this.$store.getters.getNews
    },
    loading () {
      return this.$store.getters.getLoadingState
    },
    newsLoader () {
      return this.$store.getters.getNewsLoadingState
    }
  },
  methods: {
    doSearch (buttonClicked) {
      if (this.selectedCountry === '') return
      this.$store.dispatch('searchForNews', {
        country: this.selectedCountry,
        category: this.selectedCategory,
        keyword: this.keyWord,
        pageSize: this.pageSize,
        page: this.page,
        buttonClicked: buttonClicked
      })
    },
    handleScrolledToBottom (showVisibility) {
      if (!showVisibility) return
      this.page++
      this.doSearch(false)
    },
    showNewsModal (content) {
      this.showNews = true
      this.newsContent = content
    }
  },
  filters: {
    completeCountry: function (abbr) {
      return getName(abbr)
    }
  },
  components: {
    NewsModal
  }
}
</script>
