

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}

h1 {
	font-size: 28px;
	font-weight: 300;
	flex: 1;
}

h5 {
	font-weight: 500;
	line-height: 1.7em;
}

h6 {
	color: #666;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #181717;
}

.list-header {
	display: flex;
	padding: 30px;
	background-color: #f5eeed;
}

.sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.collection-sort {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    flex-basis: 100%;
    flex: 1;
}


label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}

.news-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.news-card {
	display: flex;
	flex-direction: column;
	padding: 2%;
	flex: 1 25%;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.news-image img {
	width: 100%;
}

.news-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

article {
	padding: 0.5rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.article-content p {
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
}
article img {
	-webkit-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 40%;
}
article a {
	text-decoration: underline;
	color: #1ae676;
}
.article-content {
	padding:10px;
	flex: 0 0 50%;
	box-sizing: border-box;
	position: relative;
}

.author-content span:first-child {
	font-size: 14px;
	color: #666;
	float: left;
}


.news-info span {
	font-size: 14px;
	color: rgb(68, 74, 155);
	float: right;
}

@media ( max-width: 920px ) {
	.news-card {
		flex: 1 46%;
	}
	.list-header{
		flex-wrap: wrap;
	}
	.search{
        margin-top: 6px;
	}
	
}

@media ( max-width: 600px ) {
    .search{
        margin-top: 3px;
    }
	.news-card {
		flex: 1 46%;
	}
	article img {
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.article-content {
		padding:10px;
		flex: 0 0 100%;
	}
	select {
		max-width: 95vw;
	}
	.list-header {
		flex-direction: column;
		min-width: 100%;
		margin: auto;
		padding: 10px;
	}
}

@media ( max-width: 480px ) {
	.news-card {
		flex: 1 100%;
	}
	.search{
        margin-top: 3px;
    }

	h1 {
		margin-bottom: 20px;
	}
	
	.list-header {
		flex-direction: column;
		min-width: 100%;
		margin: auto;
	}
	
	.sort {
		align-self: flex-start;
	}
	article img {
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.article-content {
		padding:10px;
		flex: 0 0 100%;
	}
	select {
		max-width: 95vw;
	}
}


@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:30px;
        line-height:30px;
    } 

    input[type="search"] {
        height:30px;
        line-height:30px;
    }
    .search{
        height:30px;
    }
}
      
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:30px;
        line-height:30px;
    }     
}



.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
	background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
  }
  
  .loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 150ms infinite linear;
	-moz-animation: spinner 150ms infinite linear;
	-ms-animation: spinner 150ms infinite linear;
	-o-animation: spinner 150ms infinite linear;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-moz-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-o-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }

  @keyframes loader-animation {
	0% {
	  width: 0%;
	}
	49% {
	  width: 100%;
	  left: 0%
	}
	50% {
	  left: 100%;
	  width: 0;
	}
	100% {
	  left: 0%;
	  width: 100%
	}
  }
 .search-loader {
	height: 5px;
	width: 100%;
  }
 .search-loader .bar {
	position: absolute;
	height: 5px;
	background-color: dodgerblue;
	animation-name: loader-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
  }

  /* news modal */

.modal { width: 100%; height:auto; overflow: auto; }
.modal--hide { display: flex; } /* classes fired by js for animation control */

.modal--align {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal__container {
  position: relative;
  width: 80vw;
  height: auto;
  padding: 20px;
  margin: 2vh auto;
  background: #fff;
}

.modal__close--x {
  font-size: 30px; /* this is only because we use unicode for the X in this case */
  position: absolute;
  top: 3px;
  right: 10px;
}

.modal__close--x:hover {
  cursor: pointer;
}

.modal.modal--show {
  animation: modal-open 0.3s;
}

@keyframes modal-open {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

/* Close */
.modal.modal--hide {
  animation: modal-close 0.3s;
}

@keyframes modal-close {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}





